@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;400;500&family=Bebas+Neue&display=swap');
@page { size: 10in 8in; margin: 2cm };

body {
  background: rgb(252,176,126);
  // background: linear-gradient(141deg, rgba(243,248,242,1) 0%, rgba(252,176,126,1) 50%, rgba(235,233,233,1) 100%);
}

button {
  font-family: 'Archivo', sans-serif;
  background-color: rgba(243, 248, 242, .7);
  color: rgb(255, 94, 91);
  border-radius: 20px;
  border: none;
  margin-left: 170px;
}

input {
  background: transparent;
  border: 0;
  border-bottom: 5px dashed rgb(255, 94, 91);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 45px;
  width: 50%;
  font-family: 'Archivo', sans-serif;
  color: rgb(3, 71, 50);
}

#newGame {
  padding: 70px;
  margin-left: 45%;
  margin-top: 5%;
}

#buttondiv {
  display: inline-flex;
  margin-left: 65%;
  margin-top: 1%;
}

#authbox {
  margin-left: 38%;
  margin-top: -19%;
  width: 50%;
}

#signIn-success,
#signout-success,
#signUp-success,
#error-message,
#player-alert {
  font-family: 'Bebas Neue', cursive;
  color: rgb(255, 94, 91);
  font-size: 20px;
  letter-spacing: 8px;
  margin-left: 3%
}

#game-board {
  display: grid;
  margin-left: 45%;
  margin-top: -3%;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: 150px 150px 150px;
  grid-auto-flow: column;
  width: 40%;
  grid-gap: 10px;
}

.maintitle {
  font-family: 'Bebas Neue', cursive;
  color: rgb(255, 94, 91);
  font-size: 150px;
  letter-spacing: 8px;
  line-height: 100px;
  margin-top: 13%;
  margin-left: 33px;
  padding-right: 20px;
}

.grid-box {
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: solid 7px rgb(243, 248, 242);
  border-radius: 10px;
  z-index: 1;
  background-color: rgba(243, 248, 242, .3);
}

.grid-box:hover {
  background-color: rgba(255, 166, 48, .7);
}

button:hover {
  background-color: rgba(113, 137, 255, .7);
  color: rgb(236, 255, 0);
}

.circle {
  margin-left: -250px;
  margin-top: -85px;
  height: 500px;
  width: 500px;
  background-color: rgb(3, 71, 50);
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  position: relative;
}

// #signUp {
//   margin-left: 40%;
//   margin-top: -5%;
// }
//
// #signIn {
//   margin-left: 40%;
//   margin-top: -17%;
// }

// #signOut {
//   margin-left: 90%;
//   padding-top: -100px;
// }

// #newGame {
//   margin-left: 89.5%;
//   padding-top: -40%;
// }

// .gen-alerts {
//   margin-left: 45%;
//   padding-top: 80px;
// }
